@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Dibumi Laptop V2</h1>
    <p class="lead">Aku bingung mau ngasi deskripsi apa, yaudah aku tulis kata kata ini aja. Yang penting ada kata katanya entah nyambung apa enggak pokoknya yakin.</p>
    <p><a href="/items" class="btn btn-primary btn-lg">Kelola Item</a></p>
</div>
